<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC
        "-//APACHE//DTD LOG4J 1.2//EN"
        "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration>

    <appender name="CONSOLE-DEBUG" class="org.apache.log4j.ConsoleAppender">
        <param name="target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601} [%5p] %m at %l%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="ALL"/>
            <param name="LevelMax" value="INFO"/>
        </filter>
    </appender>

    <appender name="CONSOLE-WARN" class="org.apache.log4j.ConsoleAppender">
        <param name="target" value="System.err"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601} [%5p] %m at %l%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="WARN"/>
        </filter>
    </appender>

    <appender name="LOG-FILE-APPENDER" class="org.apache.log4j.FileAppender">
        <param name="file" value="C:/wildfly-10.1.0.Final/standalone/log/logger.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601} [%5p] %c %m at %l%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="WARN"/>
        </filter>
    </appender>

    <appender name="LOG-WARN-FILE-APPENDER" class="org.apache.log4j.FileAppender">
        <param name="file" value="C:/wildfly-10.1.0.Final/standalone/log/error.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601} [%5p] %m at %l%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="WARN"/>
        </filter>
    </appender>

    <appender name="LOG-INFO-FILE-APPENDER" class="org.apache.log4j.FileAppender">
        <param name="file" value="C:/wildfly-10.1.0.Final/standalone/log/info.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601} [%5p] %m at %l%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="INFO"/>
            <param name="LevelMax" value="INFO"/>
        </filter>
    </appender>

    <appender name="LOG-DEBUG-FILE-APPENDER" class="org.apache.log4j.FileAppender">
        <param name="file" value="C:/wildfly-10.1.0.Final/standalone/log/debug.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601} [%5p] %m at %l%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="DEBUG"/>
        </filter>
    </appender>

    <appender name="SQL-LOG-ALL-FILE-APPENDER" class="org.apache.log4j.FileAppender">
        <param name="file" value="C:/wildfly-10.1.0.Final/standalone/log/sql.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601} [%5p] %m at %l%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="TRACE"/>
            <param name="LevelMax" value="ALL"/>
        </filter>
    </appender>

    <!--<category name="com.mkrt4an">-->
        <!--<appender-ref ref="LOGIWEB-LOG-WARN-FILE-APPENDER"/>-->
        <!--<appender-ref ref="LOGIWEB-LOG-INFO-FILE-APPENDER"/>-->
        <!--<appender-ref ref="LOGIWEB-LOG-DEBUG-FILE-APPENDER"/>-->
    <!--</category>-->

    <root>
        <!--<priority value="INFO"/>-->
        <priority value="ALL"/>
        <appender-ref ref="CONSOLE-DEBUG"/>
        <appender-ref ref="CONSOLE-WARN"/>
        <appender-ref ref="LOG-FILE-APPENDER"/>
        <appender-ref ref="LOG-WARN-FILE-APPENDER"/>
        <appender-ref ref="LOG-INFO-FILE-APPENDER"/>
        <appender-ref ref="LOG-DEBUG-FILE-APPENDER"/>
        <appender-ref ref="SQL-LOG-ALL-FILE-APPENDER"/>
    </root>

</log4j:configuration>
